
ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --ion-background-color: #ffffff
}

ion-item {
    --padding-bottom: 10px;
}

ion-card {
    --ion-background-color: #ffffff;
    text-align: center;
    white-space:nowrap !important ;
    max-width: 100% !important;
ion-text{
    
    white-space:nowrap !important ;
    max-width: 100% !important; 
    min-width: 100%;
    font-size: 20px;
}    
 
    
}